.App {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 200px;
}

#left-side-stars {
  float: right;
}
@-ms-viewport {
  width: device-width;
}

.line {
  width: 34.5%;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.btn {
  margin-right: 13rem;
  margin-top: 20rem;
}
